.game-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 20px;
}

.game-info {
  border: 1px solid #fff;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  width: 80%;
  background-color: #696d7d;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.game-info h2 {
  color: #ff0000;
}

.game-info p {
  font-size: 16px;
  color: #fff;
}
